/*GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************************************/

/*HTML, BODY SETTINGS*/
html, body {
    background-image: url("/images/bg-img.webp");
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-attachment: fixed;
}


/*SCROLLBAR*/
/*Chrome, Edge, Safari*/
*::-webkit-scrollbar {
    width: 12px;               
}
  
*::-webkit-scrollbar-track {
    background: #000000;       
}
  
*::-webkit-scrollbar-thumb {
    background-color: #DA99A8;    
    border-radius: 20px;       
}

/*Firefox*/
* {
    scrollbar-width: thin;
    scrollbar-color: #DA99A8 #000000;
}
/*END OF HTML, BODY SETTINGS*/

/*HEADER*/
header {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #DA99A8;
}

/*Site identity*/
#site-identity {
    display: flex;
    align-items: center;
}

h1 {
    color: #FBFBFB;
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 4px;
    display: inline;
    padding-left: 15px;
}

/*Nav menu*/
li {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 91px;
    padding-right: 40px;
    font-size: 1.2em;
}

nav a, 
nav a:visited, 
nav a:link, 
nav a:active {
    text-decoration: none;
    color: #FBFBFB;
}

nav a:hover {
    color: #DA99A8;
}
/*END OF HEADER*/

/*CONTAINER*/
.container {
    background-color: rgba(255, 255, 255,0.3);
    padding: 30px 60px 70px 60px;
    border-radius: 25px;
    border: solid 2px transparent;
    background-clip: padding-box;
    backdrop-filter: blur(20px);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .container {
        background-color: rgba(248, 239, 239, 0.7);
    }
  }

/*Table settings*/
h2 {
    padding: 50px 0px 50px 0px;
    color: #222222;
    font-size: 1.8em;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #222222;
}

th {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 130%;
    padding-bottom: 5px;
}

td a {
    text-decoration: none;
    color: #222222;
}

td a:hover {
    color: #FBFBFB;
}

td {
    width: 15%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 9px 0px 9px 0px;
    font-size: 110%;
    position: relative;
}

/*Tooltip*/
td[title]:hover {
    cursor: help;
}

.tooltip:hover::after {
    background: #000000;
    border-radius: 5px;
    bottom: 26px;
    color: #FBFBFB;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #000000 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
/*END OF CONTAINER*/

/*FOOTER*/
footer {
    left: 0;
    bottom: 0;
    position:initial;
    background-color: #000000;
    padding: 20px;
    color: white;
    text-align: center;
    border-top: solid 1px #DA99A8;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

footer p {
    font-size: 1.2em;
    color: #FBFBFB;
}

footer a {
    text-decoration: none;
    color: #FBFBFB;
}

footer a:hover {
    color: #DA99A8;
}
/*END OF FOOTER*/

/*MEDIA QUERIES*/
/*END OF MEDIA QUERIES*/